.TextInput-infoBox {
  margin-left: 6%;
}

.TextInput-longerBox {
  width: 40%;
}

.TextInput-bigBox {
  height: 100px;
  width: 80%;
}
.TextInput-blueBox {
  border: 1px solid lightblue;
}

.TextInput-sub {
  margin-left: 6%;
}

.TextInput-container {
  display: flex;
  flex-direction: column;
}

.TextInput-space {
  row-gap: 10px;
}

.TextInput-buttons {
  margin-top: 5%;
}

.TextInput-imageUploadContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 400px;
  width: auto;
}

.TextInput-imageContainer {
  display: flex;
  height: 100%;
  width: auto;
}

.TextInput-uploadedPic {
  display: flex;
  height: 100%;
  width: auto;
  max-height: 100%;
}
